<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd"  [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-success" (click)="onClickSignIn()">Submit</button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
