<footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h4 style="text-align: center">Nayeem Ahmed</h4>
          <h4 style="text-align: center">University of Rajshahi</h4>
          <h5 style="text-align: center">Dept. of CSE</h5>
          <h5 style="text-align: center">Session 2013-14</h5>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <hr>
      
      <div class="row text-center"> © 2018. Developed by <a style="text-decoration: none" href="https://www.facebook.com/nayeem.ahmed.5099"> Nayemm Ahmed</a></div>
  </div>
      
      
  </footer>