<div class="container">
  <div class="row">
      <br>
      <br>
      <br>
      <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email">Name:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" class="form-control" id="description" [(ngModel)]="description"></textarea>
      </div>
      <button type="submit" class="btn btn-success" (click)="onClickCreateLocation()">Submit</button>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <table class="table table-bordered">
            <thead>
            <tr>
              <th style="text-align: center">Name</th>
              <th style="text-align: center">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let location of locations" data-toggle="modal" data-target="#selectModal" (click)="onClickTable(location)">
              <td>{{location.name}}</td>
              <td>{{location.description}}</td>
            </tr>
            </tbody>
        </table>
      </div>
      <div class="col-sm-2"></div>
    </div>
  
  
    <div id="selectModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="selectModalLabel">Update</h4>
          </div>
  
          <div class="modal-body">
            <div class="form-group">
              <label for="email">Name:</label>
              <input type="email" class="form-control" id="select-email" [(ngModel)]="selectedLocation.name">
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="select-description" [(ngModel)]="selectedLocation.description">
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickUpdateLocation()" >Update</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDeleteLocation()" >Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
