<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Airplane
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let airplane of airplanes" (click)="onSelectAirplane(airplane)"><a>{{airplane.name}}</a></li>
            </ul>
          </div>
          <br>
          <button type="submit" class="btn btn-default" (click)="onClickSearchAirplaneSeats()">Search Airplane Seats</button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div *ngIf="dataReceived">
            <div>
              Data
            </div>
            <div *ngFor="let seat of seats" class=" col-md-4  separate">
              <div class="card card-inverse card-info">
                <div class="card-block">
                  <h4 class="card-title mt-3">{{seat.seatNo}}</h4>
                  <h4 class="card-title" *ngIf="seat.isBusinessClass">Business</h4>
                  <h4 class="card-title" *ngIf="!seat.isBusinessClass">Economy</h4>
                  <div class="card-text">
          
                  </div>
                  <div class="card-footer">
                    <button *ngIf="seat.isBooked" class="btn btn-info float-right btn-sm" (click)="onClickUnbookSeat(seat)">Un Book</button>
                    <button class="btn btn-danger float-right btn-sm" (click)="onClickDeleteSeat(seat)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
