<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Air Ticket Admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="authService.isLoggedIn()" class="active"><a routerLink="/home">Home</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/location">Location</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/airplane">Airplane</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/seatGenerate">Seat Generate</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/airInfo">AirInfo</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/seat">Seat</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="/sign-in">Sign In</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="/sign-up">Sign Up</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
