<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
          <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control" [(ngModel)]="name">
          </div>
          
          <div class="form-group">
            <label>Description:</label>
            <textarea type="text" class="form-control" [(ngModel)]="description"></textarea>
          </div>
          <br>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Airplane
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let airplane of airplanes" (click)="onSelectAirplane(airplane)"><a>{{airplane.name}}</a></li>
            </ul>
          </div>
          <br>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Source
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let location of locations" (click)="onSelectSource(location)"><a>{{location.name}}</a></li>
            </ul>
          </div>
          <br>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Destination
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let location of locations" (click)="onSelectDestination(location)"><a>{{location.name}}</a></li>
            </ul>
          </div>
          
          <div class="form-group">
            <label>Fare:</label>
            <input type="text" class="form-control" [(ngModel)]="fare">
          </div>
          
          <div class="form-group">
            <label>Dates:</label>
            <input type="date" class="form-control" [(ngModel)]="dates">
          </div>
          
          <div class="form-group">
            <label>Time:</label>
            <input type="text" class="form-control" [(ngModel)]="time">
          </div>
          
          <button type="submit" class="btn btn-success" (click)="onClickCreateAirInfo()">Submit</button>
        
      </div>
      <div class="col-sm-3"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <table class="table table-bordered">
              <thead>
              <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Airplane</th>
                <th style="text-align: center">Source</th>
                <th style="text-align: center">Destination</th>
                <th style="text-align: center">Fare</th>
                <th style="text-align: center">Date</th>
                <th style="text-align: center">Time</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let airDetail of airDetails" data-toggle="modal" data-target="#selectModal" (click)="onClickTable(airDetail.airInfo)">
                <td>{{airDetail.airInfo.name}}</td>
                <td>{{airDetail.airplane.name}}</td>
                <td>{{airDetail.sourceLocation.name}}</td>
                <td>{{airDetail.destinationLocation.name}}</td>
                <td>{{airDetail.airInfo.fare}}</td>
                <td>{{airDetail.airInfo.dates}}</td>
                <td>{{airDetail.airInfo.time}}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <br>
    <br>
    <br>
  
</div>

<div id="selectModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="selectModalLabel">Update</h4>
        </div>
  
        <div class="modal-body">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAirInfo.name">
          </div>
  
          <div class="form-group">
            <label>Description:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAirInfo.description">
          </div>
  
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Airplane
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let airplane of airplanes" (click)="onSelectAirplane(airplane)"><a>{{airplane.name}}</a></li>
            </ul>
          </div>
  
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Source
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let location of locations" (click)="onSelectSource(location)"><a>{{location.name}}</a></li>
            </ul>
          </div>
  
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Destination
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let location of locations" (click)="onSelectDestination(location)"><a>{{location.name}}</a></li>
            </ul>
          </div>
  
          <div class="form-group">
            <label>Fare:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAirInfo.fare">
          </div>
  
          <div class="form-group">
            <label>Dates:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAirInfo.dates" placeholder="{{selectedAirInfo.dates}}">
          </div>
  
          <div class="form-group">
            <label>Time:</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAirInfo.time">
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickUpdateAirInfo()" >Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDeleteAirInfo()" >Delete</button>
        </div>
      </div>
    </div>
  </div>
