<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Airplane
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngFor="let airplane of airplanes" (click)="onSelectAirplane(airplane)"><a>{{airplane.name}}</a></li>
          </ul>
        </div>
        
        <div class="form-group">
        <label>Business Class Seats:</label>
        <input type="text" class="form-control" [(ngModel)]="totalBusinessClassSeats">
        </div>
        
        <div class="form-group">
        <label>Economy Class Seats:</label>
        <input type="text" class="form-control" [(ngModel)]="totalEconomyClassSeats">
        </div>
        
        <button type="submit" class="btn btn-success" (click)="onClickCreateSeats()">Submit</button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
